$color-vinculos: rgb(196, 247, 217);

.nav {
    font-size: 1.5em;
    text-align: center;
    overflow: hidden;
    margin: 2em auto;
    width: 600px;
    position: relative; 
    display: flex;

    a{
        flex-direction: row;
        padding: 1em 0 2em;
        width: 25%;
        text-decoration: none;
        color: $color-vinculos;
        -webkit-transition: .7s;
        -moz-transition: .7s;
        -o-transition: .7s;
        -ms-transition: .7s;
        transition: .7s; 

        &:hover { color: $color-vinculos; }

        &:nth-child(1):hover ~ .effect {
            left: 10%; 
        }
        &:nth-child(2):hover ~ .effect {
            left: 30%; 
        }
        &:nth-child(3):hover ~ .effect {
            left: 50%; 
        }
        &:nth-child(4):hover ~ .effect {
            left: 70%; 
        }
        &:nth-child(5):hover ~ .effect {
            left: 90%; 
        }

    }

    .effect {
        position: absolute;
        left: -12.5%;
        -webkit-transition: 0.7s ease-in-out;
        -moz-transition: 0.7s ease-in-out;
        -o-transition: 0.7s ease-in-out;
        -ms-transition: 0.7s ease-in-out;
        transition: 0.7s ease-in-out; 
    }
}  
  
  .line-nav .effect {
    width: 90px;
    height: 2px;
    bottom: 36px;
    background: $color-vinculos;
    box-shadow: 0 1px 0 rgb(9, 51, 31); 
    margin-left:-45px;
  }
  