


body{
    
    background-image: url("../imagenes/main/main-eye.png");
    background-color: #1dad89;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}

