

body{
    background: linear-gradient(45deg, #d317c6,#05ce81);
    // background-image: url("../imagenes/header.JPG");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}
