


body{
    // background: linear-gradient(180deg, #17d3a4,#d4b2c9);
    background-image: url("../imagenes/header.JPG");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}

