// section{
//     display: flex;
// }

.about{
    text-align: center ;
    margin: 2em;
    padding: 2em;
    color: rgb(151, 16, 90);
    border-radius: 50px;
    width: 50%;
    background: #b2cac4;
    margin-left: 25%;
    p{
        font-size: 1.5em;
    }
}
