$color-titulo: rgb(255, 255, 255);
$color-subtitulo: rgb(132, 235, 204);

h1{
    color:$color-titulo;
    font: 400 60px/1 "Playfair Display",serif;
}

.home{
    background-image: url("../../imagenes/main/main-eye.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

