$color-titulo: rgb(255, 255, 255);
$color-subtitulo: rgb(132, 235, 204);

h1{
    color:$color-titulo;
    font: 400 60px/1 "Playfair Display",serif;
}

.titulo{
    text-align: center;

    p{
        color:$color-subtitulo;
        font-size: 1.5em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

