.post {
    .post-titulo{
        font-family: 'Courier New', Courier, monospace;
        font-size: 1em;
    }

   .post-fecha{
       font-size: 1em;
   }

   .post-texto{
       font-size: 0.9em;
   }
}


/* las personas siempre te percibiran en pasado, por lo tanto tu tambien estas percibiendo el pasado de las personas.*/